# Database Configuration
DB_HOST=102.218.215.35
DB_PORT=3306
DB_USERNAME=citlogis_bryan
DB_PASSWORD=@bo9511221.qwerty
DB_DATABASE=citlogis_ws
DB_SYNC=false
DB_LOGGING=false

# Alternative Database URL format
DATABASE_URL="mysql://citlogis_bryan:@bo9511221.qwerty@102.218.215.35/citlogis_ws"
SHADOW_DATABASE_URL="mysql://citlogis_bryan:@bo9511221.qwerty@102.218.215.35/citlogis_maashadow"
BACKUP_DATABASE_URL="mysql://citlogis_bryan:@bo9511221.qwerty@102.218.215.35/citlogis_ws"

# JWT Configuration
JWT_SECRET="14d654d54283e592a412c2de2cc40b439c6d63fc9406e270650201b5aba6a73f99a345341694cc5bb5a3e09ff85ccb49ce7f49f2e89a9362ea61fc9558968c47"
JWT_EXPIRES_IN=9h

# Application Configuration
PORT=3000
NODE_ENV=development

# Image Upload Configuration
IMAGEKIT_ID="bja2qwwdjjy"
IMAGEKIT_PUBLIC_KEY="public_VSmeDjIyBNYCunNXLYVbXIOzP/k="
IMAGEKIT_PRIVATE_KEY="private_53IH5urzpkD6OKAoJj1aIfmsQks="
IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/bja2qwwdjjy"
CONVERT_TO_BASE64="true"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=otienobryan
CLOUDINARY_API_KEY=825231187287193
CLOUDINARY_API_SECRET=BSFpWhpwt3RrNaxnZjWv7WFNwvY

# Redis Configuration
REDIS_HOST=redis-10907.c341.af-south-1-1.ec2.redns.redis-cloud.com
REDIS_PORT=10907
REDIS_PASSWORD=Y9kMERTRRuchYLN1GGbZneBmMgScqXDX
REDIS_URL=redis://default:Y9kMERTRRuchYLN1GGbZneBmMgScqXDX@redis-10907.c341.af-south-1-1.ec2.redns.redis-cloud.com:10907

# Optional: Enable detailed logging
LOG_LEVEL=debug

# CORS Configuration
CORS_ORIGIN=http://localhost:3000,http://localhost:8080,capacitor://localhost 